@import './css/reset.css';
@import './css/styleguide_vanEyck.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  font-family: helvetica;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

main {
  margin: 0 auto;
}

body {
  overflow: hidden;
}

.page{
  background: rgb(243, 243, 237);
  height: 100vh;
  width: 50vw;
  padding: 5rem;
}

.page--even{
  margin-left: 50vw;
  margin-top: -100vh;
}

.content{
  padding: 2rem;
}