@import './css/reset.css';
@import './css/styleguide_vanEyck.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  font-family: helvetica;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

main {
  margin: 0 auto;
}

body {
  overflow: hidden;
}

.page {
  background: rgb(243, 243, 237);
  height: 100vh;
  width: 42vw;
  padding: 2rem;
  overflow: hidden;
}

.page--start, .page--end {
  background: #e28c8d;
}

.page--start .content, .page--end .content {
  background: rgb(243, 243, 237);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.page--even {
  margin-left: 42vw;
  margin-top: -100vh;
}

.content {
  padding: 10rem;
  height: 97%;
}

.buttons {
  padding: 3rem;
}

.image {
  margin-top: -45.5rem;
  bottom: 0;
  transform: scale(.8);
}

.page--even .image {
  margin-left: 5.4rem;
}

.page--odd .image {
  margin-left: -10.4rem;
}

.link {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: column;
}

.page--even .link {
  margin-left: 35rem;
  align-items: flex-end;
}

.page--odd .link {
  margin-left: -10rem;
  align-items: flex-start;
}

.creatieproces-nav{
  width: 30vw;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
  bottom: 10vh;
  right: 20vw;
}

.levensloop-nav{
  height: 12.5vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
  left: 10rem;
  top: 18.3rem;
}

.levensloop-nav-button{
  border: none;
  content: '';
  width: 3rem;
  height: 3rem;
  background: linear-gradient(to top right, #bc0000 50%, 50%, rgba(0, 0, 0, 0));
}

.levensloop-nav-button--prev{
  transform: rotate(135deg);
}

.levensloop-nav-button--next{
  transform: rotate(-45deg);
}

.creatieproces-nav-button{
  border: none;
  content: '';
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.creatieproces-nav-button:focus, .levensloop-nav-button:focus {
  outline: none;
}

.creatieproces-nav-button--active {
  border: 1px solid red;
}

.creatieproces-nav-button--1 {
  background-size: cover;
  background-repeat: no-repeat;
}

.creatieproces-nav-button--2 {
  margin-top: -10rem;
  margin-left: -2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.creatieproces-nav-button--3 {
  margin-top: -15rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.creatieproces-nav-button--4 {
  margin-top: -12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/* flags */

.centered {
  display: flex;
  justify-content: center;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 90vw;
  height: 100vh;
}

.toFront {
  position: absolute;
  left: 6rem;
  top: 6rem;
  z-index: 5;
}

.nav-levensloop {
  height: 60vh;
  bottom: 20vh;
  left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  position: absolute;
}

.hr {
  width: 7vw;
  height: .1rem;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
